<ion-header>
    <ion-navbar>
        <ion-buttons end>
            <button ion-button icon-only (click)="createAndAddListItem()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{(list)?.name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list no-lines *ngFor="let category of (listItemsByCategory$ | async); let first=first; let last=last">
        <ion-list-header *ngIf="!(first && last && category.name == undefined)">{{category.name || "No category"}}</ion-list-header>
        <ion-item-sliding #listItemElem *ngFor="let listItem of category.items" (ionDrag)="checkCompletedSwipe($event, listItem.$key)">
            <ion-item (click)="editItem(listItem.$key, listItemElem)">
                {{listItem.itemName}} {{listItem.quantity > 1 ? '(' + listItem.quantity + ')' : ''}}
            </ion-item>
            <ion-item-options>
                <button ion-button color="danger" (click)="deleteItem(listItem.$key, listItemElem)">
                    delete
                </button>
            </ion-item-options>
            <ion-item-options side="left">
                <button ion-button color="secondary">
                    complete
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>