<ion-header>
    <ion-navbar>
        <ion-buttons end>
            <button ion-button icon-only (click)="createAndAddListItem()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{(list)?.name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="!isListItemsLoading && (listItemsByCategory$ | async).length == 0" tappable (click)="createAndAddListItem()">
        No items on this list yet! Click the "+" button above (or just click here) to add an item.
    </div>
    <ion-list no-lines *ngFor="let category of (listItemsByCategory$ | async); let first=first; let last=last">
        <ion-list-header *ngIf="!(first && last && category.name == undefined)">{{category.name || "No category"}}</ion-list-header>
        <ion-item-sliding #listItemElem *ngFor="let listItem of category.items">
            <ion-item [class.listItem-completed]="listItem.isCompleted" (click)="completeItem(listItem.$key)">
                {{listItem.itemName}} {{listItem.quantity > 1 ? '(' + listItem.quantity + ')' : ''}}
            </ion-item>
            <ion-item-options>
                <button ion-button color="danger" (click)="deleteItem(listItem.$key, listItemElem)">
                    delete
                </button>
                <button ion-button color="secondary" (click)="editItem(listItem.$key, listItemElem)">
                    edit
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <button *ngIf="hasCompletedItems$ | async" ion-button (click)="deleteCompletedItems()">
        Delete all crossed-off items
    </button>
</ion-content>